 :root {
     --primary-fonts: "Montserrat", sans-serif;
     --primary-color: #ffffff;
     --content-color: #ffffff;
     --secondary-color: #fdcc56;
     --body-bg-color: #191c21;
     --tag-new: linear-gradient(to top, #c51d00 0%, rgb(255, 108, 0) 100%);
     --tag-popular: linear-gradient(to top, #53ab1e 0%, #08cd4e 100%);
     --tag-desktop: linear-gradient(to top, #11a0e7 0%, #00344e 100%);
     --grd-gradient-bg: linear-gradient(110deg, #1e283f, rgba(20, 27, 46, .6) 100%);
     --common-box-shadow: 0px 0px 10px #ffffff21;
     --common-gradient-color: linear-gradient(135deg, var(--secondary-color) 0%, #ffe7ae 0.01%, #f1b118 100%);
 }

 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 font,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
 }

 html {
     height: 100%;
     width: 100%;
     -webkit-overflow-style: scrollbar;
     -khtml-overflow-style: scrollbar;
     -moz-overflow-style: scrollbar;
     -ms-overflow-style: scrollbar;
     -o-overflow-style: scrollbar;
     overflow: scrollbar;
 }

 body,
 body p {
     line-height: 160%;
     font-size: 14px;
     font-weight: 300;
     font-style: normal;
     font-family: var(--primary-fonts);
     color: #ffffff;
     word-spacing: 0px;
     text-transform: inherit;
 }

 body {
     background-color: var(--body-bg-color);
 }

 b {
     font-weight: 600;
 }

 ol,
 ul {
     list-style: none;
 }

 span {
     line-height: normal;
 }

 blockquote,
 q {
     quotes: none;
 }

 blockquote::after,
 blockquote::before,
 q::after,
 q::before {
     content: '';
     content: none;
 }

 :focus {
     outline: 0;
 }

 ins {
     text-decoration: none;
 }

 del {
     text-decoration: line-through;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 a {
     text-decoration: none;
     -webkit-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
     color: #ffffff;
     opacity: 1;
 }

 a:hover,
 a:focus,
 a:active {
     color: #ffffff;
     opacity: 0.8;
     text-decoration: none;
     -webkit-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
 }

 body p+p {
     margin: 15px 0px 0px 0px;
 }

 body h1,
 body h2,
 body h3,
 body h4,
 body h5,
 body h6 {
     font-style: normal;
     letter-spacing: 0px;
     word-spacing: 0px;
     text-transform: inherit;
     padding: 0;
     font-weight: 600;
     margin: 15px 0px 10px 0px;
     color: var(--primary-color);
 }

 body h1 {
     font-size: 40px;
     line-height: 130%;
 }

 body h2 {
     font-size: 40px;
     line-height: 130%;
 }

 body h3 {
     font-size: 32px;
     line-height: 130%;
 }

 body h4 {
     font-size: 28px;
     line-height: 130%;
 }

 body h5 {
     font-size: 24px;
     line-height: 130%;
 }

 body h6 {
     font-size: 20px;
     line-height: 130%;
 }

 body ul {
     margin: 0;
     padding: 0;
 }

 body #wrapper {
     background-repeat: repeat;
     background-position: center top;
     -webkit-transition: all 0.5s ease 0s;
     transition: all 0.5s ease 0s;
     position: relative;
     overflow: hidden;
     width: 100%;
 }

 body img {
     max-width: 100%;
 }

 body .thumbnail_container {
     padding-bottom: 100%;
     border-radius: 0px;
     overflow: hidden;
     position: relative;
     width: 100%;
     display: block;
 }

 body .thumbnail_container .thumbnail {
     margin: 0px;
     padding: 0px;
     border: 0 solid rgba(255, 255, 255, 0);
     height: 100%;
     width: 100%;
     position: absolute;
     background: none;
 }

 body .thumbnail_container .thumbnail a,
 body .thumbnail_container .thumbnail .thumbnail img {
     display: block;
     height: auto;
     max-height: 100%;
     max-width: 100%;
     width: auto !important;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     margin: auto;
     position: absolute;
 }

 @media only screen and (max-width: 575px) {
     body .thumbnail_container {
         padding: 0px;
     }
 }

 body .section {
     padding: 30px 0px 30px 0px;
 }

 body .nomargin {
     margin: 0 !important;
 }

 body .nopadding {
     padding: 0 !important;
 }

 body .no-top-padding {
     padding-top: 0px !important;
 }

 body .no-bottom-padding {
     padding-bottom: 0px !important;
 }

 @media (max-width: 575.98px) {
     .col-xs-small {
         width: 100%;
     }
 }

 @media (max-width: 1190.99px) {
     a[href*="tel:"] {
         pointer-events: painted;
     }
 }

 @media only screen and (max-width: 575.98px) {
     .hidden-xs {
         display: none !important;
     }
 }

 @media only screen and (max-width: 767.98px) and (min-width: 575.99px) {
     .hidden-sm {
         display: none !important;
     }
 }

 @media only screen and (max-width: 991.98px) and (min-width: 767.99px) {
     .hidden-md {
         display: none !important;
     }
 }

 @media only screen and (max-width: 1199.98px) and (min-width: 991.99px) {
     .hidden-lg {
         display: none !important;
     }
 }

 @media only screen and (min-width: 1199.99px) {
     .hidden-xl {
         display: none !important;
     }
 }

 .ad-line {
     border-top: 1px solid #f4f4f4;
     height: 1px;
     margin: 15px 0;
 }

 .font-primary {
     color: var(--primary-color) !important;
 }

 .font-secondary {
     color: var(--secondary-color) !important;
 }

 .font-success {
     color: #0b0c0b !important;
 }

 .font-warning {
     color: #ffa000 !important;
 }

 .font-danger {
     color: #d32f2f !important;
 }

 .font-info {
     color: #1a237e !important;
 }

 .btn-no-border {
     border: 1px solid #ffffff00 !important;
 }

 .btn {
     font-size: 14px;
     font-weight: 700;
     line-height: 100%;
     padding: 14px 34px 14px 34px;
     border-radius: 30px;
     text-transform: uppercase;
 }

 .btn,
 .btn-primary {
     color: #ffffff;
     background-color: transparent;
     border: 1px solid #ffffff;
     transition: 0.3s;
 }

 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary:active,
 .btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active,
 .show>.btn-primary.dropdown-toggle {
     background-color: var(--content-color);
     color: #000;
     border-color: #ffffff;
 }

 .btn-secondary {
     color: #111;
     background-color: var(--secondary-color);
     background: linear-gradient(135deg, var(--secondary-color) 0%, #ffe7ae 0.01%, #f1b118 100%);
     border: 0px solid var(--secondary-color);
 }

 .btn-secondary:hover,
 .btn-secondary:not(:disabled):not(.disabled).active,
 .btn-secondary:not(:disabled):not(.disabled):active,
 .btn-secondary:focus {
     color: #111 !important;
     box-shadow: 2px 2px 10px #ffffff63;
     border: 0px solid #ffffff;
     background: linear-gradient(135deg, var(--secondary-color) 0%, #ffe7ae 0.01%, #f1b118 100%);
 }

 .btn-primary:focus,
 .btn-primary .focus,
 .btn-secondary:focus,
 .btn-secondary .focus,
 .btn-primary:visited,
 .btn-secondary:visited,
 .btn-primary:not([disabled]):not(.disabled):active:focus,
 .btn-secondary:not([disabled]):not(.disabled):active:focus {
     -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
     -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
     -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
 }

 .small-btn {
     font-size: 14px;
     line-height: 16px;
     padding: 8px 15px 8px 15px;
 }

 .smart-btn {
     width: 30px;
     padding-left: 0px;
     padding-right: 0px;
     border-radius: 3px;
     background-color: #f4f4f4;
     color: #707070;
     border: 1px solid #e9ecef;
     -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03);
     -ms-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03);
     -o-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03);
     box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.03);
 }

 .main-title {
     font-family: var(-primary-fonts) font-size: 48px;
     font-weight: 600;
     line-height: 120%;
     color: #ffffff;
     margin: 0;
 }

 @media only screen and (max-width: 991px) {
     .main-title {
         font-size: 30px;
     }
 }

 @media only screen and (max-width: 767px) {
     .main-title {
         font-size: 30px;
     }
 }

 .sub-title {
     font-size: 18px;
     font-weight: 400;
     line-height: 120%;
     color: var(--secondary-color);
     margin: 0;
 }

 @media only screen and (max-width: 991px) {
     .sub-title {
         font-size: 18px;
     }
 }

 @media only screen and (max-width: 767px) {
     .sub-title {
         font-size: 18px;
     }
 }

 .ad-form {
     position: relative;
 }

 .ad-form-group {
     margin-bottom: 20px;
     position: relative;
 }

 .ad-form-group .label-common,
 .ad-form-group label,
 .ad-form-group .ad-input {
     font-size: 14px;
     font-weight: 600;
     color: #ffffff;
     line-height: 150%;
     font-style: normal;
 }

 .ad-form-group label {
     display: block;
     padding-bottom: 5px;
 }

 .ad-form-group .ad-input {
     border: 1px solid #676a71;
     border-radius: 0px;
     resize: none;
     height: 45px;
     padding: 0 20px;
     background-color: transparent;
     font-weight: 400;
 }

 .ad-form-group .ad-input:focus {
     outline: none;
     -webkit-box-shadow: none;
     box-shadow: none;
     border-color: var(--secondary-color);
 }

 .ad-form-group .ad-input::-webkit-input-placeholder,
 .ad-form-group .ad-input::-moz-placeholder,
 .ad-form-group .ad-input:-ms-input-placeholder,
 .ad-form-group .ad-input:-moz-placeholder {
     color: #9e9e9e;
     font-size: 20px;
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 .ad-form-group .ad-input.error {
     border-color: #d32f2f;
     margin: 0;
     color: #ffffff;
 }

 .ad-form-group textarea.ad-input {
     height: auto;
     padding-top: 15px;
 }

 .ad-form-group .ad-form-common,
 .ad-form-group .ad-form-help,
 .ad-form-group .ad-error,
 .ad-form-group .error,
 .ad-form-group .ad-form-control-static,
 .ad-form-group .ad-group-text {
     font-size: 14px;
     font-weight: 400;
     font-style: normal;
     line-height: 150%;
     display: block;
 }

 .ad-form-group .ad-form-help {
     color: #616161;
     padding: 5px 0;
 }

 .ad-form-group .ad-error,
 .ad-form-group .error {
     color: #e53935;
 }

 .ad-form-group .ad-form-control-static {
     color: #9e9e9e;
 }

 .ad-form-group .ad-group-text {
     color: #9e9e9e;
 }

 .ad-form-group select.form-control:not([size]):not([multiple]),
 .ad-form-group select.ad-input:not([size]):not([multiple]) {
     height: 45px;
 }

 .ad-form-group select option {
     color: #000;
 }

 .ad-form-group span.error,
 .ad-form-group label.error {
     position: absolute;
     margin: 0;
     padding: 0;
     font-size: 10px;
     bottom: -18px;
     left: 0;
     font-weight: 500;
 }

 .ad-checkbox-list {
     padding: 0 0;
 }

 .ad-checkbox-inline .ad-checkbox {
     display: inline-block !important;
     margin-right: 15px;
     margin-bottom: 5px;
 }

 .ad-checkbox {
     font-size: 14px;
     font-weight: 400;
     font-style: normal;
     line-height: 150%;
     color: #212121;
     display: inline-block;
     position: relative;
     padding-left: 30px;
     margin-bottom: 3px;
     cursor: pointer;
 }

 .ad-checkbox input {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }

 .ad-checkbox input:checked~span::after {
     display: block;
 }

 .ad-checkbox span {
     border-radius: 0px;
     background: none;
     position: absolute;
     top: 1px;
     left: 0;
     height: 18px;
     width: 18px;
     border: 1px solid #9e9e9e;
 }

 .ad-checkbox span::after {
     content: '';
     position: absolute;
     display: none;
     border: solid #424242;
     top: 50%;
     left: 50%;
     margin-left: -2px;
     margin-top: -6px;
     width: 5px;
     height: 10px;
     border-width: 0 2px 2px 0 !important;
     -webkit-transform: rotate(45deg);
     -khtml-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .ad-checkbox:last-child {
     margin-bottom: 3px;
 }

 .ad-radio-list {
     padding: 0 0;
 }

 .ad-radio-inline .ad-radio {
     display: inline-block !important;
     margin-right: 15px;
     margin-bottom: 5px;
 }

 .ad-radio {
     font-size: 14px;
     font-weight: 400;
     font-style: normal;
     line-height: 150%;
     color: #212121;
     display: inline-block;
     position: relative;
     padding-left: 30px;
     margin-bottom: 3px;
     cursor: pointer;
 }

 .ad-radio input {
     position: absolute;
     z-index: -1;
     opacity: 0;
 }

 .ad-radio input:checked~span::after {
     display: block;
 }

 .ad-radio span {
     border-radius: 100px;
     background: none;
     position: absolute;
     top: 1px;
     left: 0;
     height: 18px;
     width: 18px;
     border: 1px solid #9e9e9e;
 }

 .ad-radio span::after {
     content: '';
     position: absolute;
     display: none;
     border: solid #424242;
     background: #424242;
     top: 50%;
     left: 50%;
     margin-left: -3px;
     margin-top: -3px;
     height: 6px;
     width: 6px;
     border-radius: 100px;
     -webkit-transform: rotate(45deg);
     -khtml-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .ad-radio:last-child {
     margin-bottom: 3px;
 }